@using QuizApplication.Entities
<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("MetaTags")
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
@* if logged in *@
@if (User.Identity is {IsAuthenticated: true } && User.IsInRole(AppUserRoles.Admin))
{
    @await Html.PartialAsync("NavBar")
}
@RenderBody()
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/axios/axios.min.js"></script>
<script src="~/lib/vue/dist/vue.global.prod.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>