<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/main.css"/>
    <link rel="stylesheet" href="~/css/quiz.css"/>
    @RenderSection("Styles", required: false)
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Fixed top section -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid px-2">
        <a class="navbar-brand" href="#">Quiz App</a>
        <!-- Add your navigation menu items here -->
    </div>
</nav>

@RenderBody()


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
  }
};
</script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js">
</script>
@RenderSection("Scripts", required: false)
</body>
</html>