.quiz-info{
    background: var(--color-background-soft);
    border: 1px solid var(--color-border);
    padding: 1rem;
    border-radius: 0.5rem;
}
.clock{
    font-size: 3em;
    background: var(--color-bg-translucent-inv);
    border: 1px solid var(--color-border);
    font-weight: bold;
    color: var(--color-text-inv);
    text-align: center;
    margin: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active, .attempted{
    color: var(--vt-c-text-dark-1);
}
.active:hover, .attempted:hover{
    color: var(--vt-c-text-dark-1);
}

.attempted{
    background: var(--color-secondary);
}
.active{
    background: var(--color-primary);
}
.questions{
    display: grid;
    /*5 columns*/
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.q-no{
    font-size: 1.5em;
}

.question-container{
    background: var(--color-background);
    border: 1px solid var(--color-border);
    padding: 2rem;
    border-radius: 0.5rem;
}

.form-check{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.form-check-input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.form-check-label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.form-check-label .custom-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #6c757d;
}

.form-check-input[type="radio"]:checked + .form-check-label .custom-radio:before {
    position: absolute;
    content: "";
    display: block;
    top: 2px;
    left: 2px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--color-secondary);
}
