@model RegisterViewModel

@section Styles
{
    <link rel="stylesheet" href="~/css/form.css"/>
}

<div class="container">
    <div class="row justify-content-center align-items-center screen-height">
        <div class="col-12">
            <form class="form" method="post">
                <h2>Register</h2>
                <div class="form-group">
                    <label for="Username">Name:</label>
                    <input asp-for="Username" type="text" class="form-control"
                           id="Username" name="Username" placeholder="Enter your name" required>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input asp-for="Email" type="email" class="form-control" 
                           id="Email" name="Email" placeholder="Enter your email" required>
                    <span class="text-danger" asp-validation-for="Email"></span>
                    
                </div>
                <div class="form-group">
                    <label for="Password">Password:</label>
                    <input asp-for="Password" type="password" class="form-control" 
                           id="Password" name="Password" placeholder="Enter your password" required>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password:</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" 
                           id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm your password" required>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
                <div asp-validation-summary="All"></div>
                <button type="submit" class="btn btn-primary my-1">Register</button>
                <div class="mt-2 text-center">
                    <a asp-action="Login" class="">I already have an account</a>
                </div>
            </form>
        </div>
    </div>
</div>