@model QuizApplication.ViewModels.AccountViewModels.RegisterViewModel
@{
    Layout = "_Layout";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/form.css"/>
}
@await Html.PartialAsync("NavBar");
<div class="container">
    <div class="row justify-content-center align-items-center screen-height">
        <div class="col-12">
            <form class="form" method="post">
                <h2>Register</h2>
                <div class="form-group">
                    <label for="Username">Index Number:</label>
                    <input asp-for="Username" type="text" class="form-control"
                           id="Username" name="Username" placeholder="Enter your university index number" required>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Name">Name:</label>
                    <input asp-for="Name" type="text" class="form-control"
                           id="Name" name="Name" placeholder="Enter your first name and surname" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input asp-for="Email" type="email" class="form-control" 
                           id="Email" name="Email" placeholder="Enter any active email address" required>
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label for="PhoneNumber">Phone Number:</label>
                    <input asp-for="PhoneNumber" type="text" class="form-control" 
                           id="PhoneNumber" name="PhoneNumber" placeholder="Enter your phone number" required>
                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="form-group">
                    <label for="Password">Password:</label>
                    <input asp-for="Password" type="password" class="form-control" 
                           id="Password" name="Password" placeholder="" required>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password:</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" 
                           id="ConfirmPassword" name="ConfirmPassword" placeholder="" required>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
                <div asp-validation-summary="All"></div>
                <button type="submit" class="btn btn-primary my-1">Register</button>
                <div class="mt-2 text-center">
                    <a asp-action="Login" class="">I already have an account</a>
                </div>
            </form>
        </div>
    </div>
</div>