@using QuizApplication.Entities
@{
    Layout = "_QuizLayout";
    ViewBag.Title = "Quiz Home";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/home.css">
}

<div id="main" class="container-fluid px-2 px-md-4 px-lg-5 flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="row my-2">
        <!-- left column -->
        <div class="col-md-3 col-6 order-0 align-items-center d-flex p-4" id="">
            <img src="https://questions-gsbmcdd5ezdcb0bd.z01.azurefd.net/moramaths/mora_maths_vertical_logo_black_text.png" 
                 class="img-fluid" alt=""/>
        </div>
        
        <!-- right column -->
        <div class="col-md-6 order-2 order-md-1 d-flex flex-column justify-content-around" id="">
            <div class="row">
                <div class="col-12">
                    <div class="instructions card pr-4 py-3">
                        <h1 style="text-align:center;">Instructions</h1>
                        <ol>
                            <li><a asp-action="Register" asp-controller="Account">Register</a> yourself on the the quiz site before attempting the quiz.</li>
                            <li>You will have 30 minutes will to answer at most 25 questions.</li>
                            <li>Only 1 attempt per participant is allowed.</li>
                            <li>The questions in the quiz are sequential and you cannot go back to the previous question.</li>
                            <li>You can obtain bonus points for solving the question within 1 minute of time.</li>
                            <li>There is no negative marking for incorrect answers or unanswered questions.</li>
                            <li>And most importantly.. Do your best!!!</li>
                        </ol>    
                    </div>
                </div>
            </div>
            <div class="row my-4 justify-content-around">
                <feature name="@FeatureFlags.QuizAccess">
                    <div class="col-12 col-md-6 text-center my-2" >
                        <a asp-action="Attempt" class="btn btn-tertiary btn-lg btn-start">Attempt Quiz</a>
                    </div>
                </feature>
                <div class="text-center col-12 col-md-6 my-2" >
                    <a asp-action="Leaderboard" class="btn btn-tertiary btn-lg btn-start">Leaderboard</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 order-0 order-md-2 align-items-center d-flex p-4">
            <img src="https://questions-gsbmcdd5ezdcb0bd.z01.azurefd.net/moramaths/m-day_logo_white.png" 
                 class="img-fluid" alt="m-day logo">
        </div>
        
    </div>
</div>
@if(User.Identity.IsAuthenticated){
    <div class="container m-0">
    <div class="row">
        <div class="col-md-3">
            <a asp-action="Logout" asp-controller="Account" class="btn fixed-bottom btn-info">
                Logout
            </a>
        </div>
    </div>
</div>
}
