@using QuizApplication.Entities
@{
    Layout = "_QuizLayout";
    ViewBag.Title = "Quiz Home";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/home.css">
}

<div id="main" class="container-fluid px-5 flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="row">
        <!-- left column -->
        <div class="col-md-3 d-flex align-items-center" id="">
            <img src="https://questions-gsbmcdd5ezdcb0bd.z01.azurefd.net/moramaths/mora_maths_vertical_logo_black_text.png"
                 class="img-fluid"/>
        </div>
        
        <!-- right column -->
        <div class="col-md-6 d-flex flex-column justify-content-around" id="">
            <div class="instructions card pr-4 py-3">
                <h1 style="text-align:center;">Instructions</h1>
                <ol>
                    <li>Lorem ilisum dolor sit amet consectetur adiliisicing elit. Est, at totam libero quod velit dicta
                        esse volulitatum doloremque, autem cullia quidem doloribus sit labore laborum dignissimos vitae.
                    </li>
                    <li>Lorem ilisum dolor sit amet consectetur adiliisicing elit. Est, at totam libero quod velit dicta
                        esse volulitatum doloremque, autem cullia quidem doloribus sit labore laborum dignissimos vitae.
                    </li>
                    <li>Lorem ilisum dolor sit amet consectetur adiliisicing elit. Est, at totam libero quod velit dicta
                        esse volulitatum doloremque, autem cullia quidem doloribus sit labore laborum dignissimos vitae.
                    </li>
                    <li>Lorem ilisum dolor sit amet consectetur adiliisicing elit. Est, at totam libero quod velit dicta
                        esse volulitatum doloremque, autem cullia quidem doloribus sit labore laborum dignissimos vitae.
                    </li>
                </ol>
            </div>
            <div class="d-flex my-4 justify-content-around">
                <feature name="@FeatureFlags.QuizAccess,@FeatureFlags.QuizTime" requirement="All">
                    <div style="text-align: center;">
                        <a asp-action="Attempt" class="btn btn-tertiary btn-lg btn-start">Attempt Quiz</a>
                    </div>
                </feature>
                <div style="text-align: center;">
                    <a asp-action="Leaderboard" class="btn btn-tertiary btn-lg btn-start">Leaderboard</a>
                </div>
            </div>
            
        </div>
        <div class="col-md-3 d-flex align-items-center">
            <img src="https://questions-gsbmcdd5ezdcb0bd.z01.azurefd.net/moramaths/m-day_logo_white.png" 
                 class="img-fluid" alt="m-day logo">
        </div>
        
    </div>
</div>